.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 300px; /* change this to whatever you want */
  width: auto;
}
.commonButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.commonButton:hover {
  background-color: #3e8e41;
}
.errorMessage {
  color: #d8000c;
}
