.theaterList {
  border-collapse: collapse;
  width: 100%;
}
.thForTheaterList {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d147a3;
  color: white;
}
.tdForTheaterList {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.tableDataForTheater:hover {
  background-color: greenyellow;
}
.tableDataForTheater:hover {
  background-color: #282828;
}
.commonButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.commonButton:hover {
  background-color: #3e8e41;
}
