.theaterList {
  border-collapse: collapse;
  width: 100%;
}
.thForTheaterList {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d147a3;
  color: white;
}
.tdForTheaterList {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.tableDataForTheater:hover {
  background-color: greenyellow;
}
.tableDataForTheater:hover {
  background-color: #282828;
}
.dateDropdown {
  padding-bottom: 18px;
  text-align: center;
}
